@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-roboto;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
