@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-roboto;
  }

  ul a {
    @apply capitalize text-lg;
  }

  .grid-rows-9 {
    grid-template-rows: repeat(9, minmax(0, 1fr));
  }

  .row-span-7 {
    grid-row: span 7 / span 7;
  }

  .row-span-8 {
    grid-row: span 8 / span 8;
  }

  .row-span-9 {
    grid-row: span 9 / span 9;
  }
}
